{% extends 'base_blog.html' %}

{% block title %}
    Delete Post
{% endblock %}

{% block content %}

    <form action="{% url 'post_delete_url' slug=post.slug %}" method="post">
        {% csrf_token %}

        <h3>
            Are you sure you want to delete "{{ post.title }}" post?
        </h3>
        <a href="{% url 'post_detail_url' slug=post.slug %}">
            Cancel
        </a>

        <button type="submit" name="button" class="btn btn-danger">
            Delete
        </button>

    </form>

{% endblock %}