{% extends 'base_blog.html' %}

{% block title %}
    Delete Tag
{% endblock %}

{% block content %}

    <form action="{% url 'tag_delete_url' slug=tag.slug %}" method="post">
        {% csrf_token %}

        <h3>
            Are you sure you want to delete {{ tag.title }} tag?
        </h3>
        <a href="{% url 'tag_detail_url' slug=tag.slug %}">
            Cancel
        </a>

        <button type="submit" name="button" class="btn btn-danger">
            Delete
        </button>

    </form>

{% endblock %}