{% extends 'base_blog.html' %}

{% block title %}
    {{ tag.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h1> Post with "{{ tag.title }}" tag: </h1>
    {% for i in tag.posts.all %}
        <div class="card" style="margin-top: 10%">
            <div class="card-header">
                {{ i.date_pub }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ i.title}}</h5>
                <p class="card-text">{{ i.body }}</p>
                <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}